.js-magic-btn{
    margin-top: 20px;
    display: flex;
    color: red;
    background-color: aquamarine;
    border-color: rebeccapurple;
}

.site_nav{
    color:blue;
}
.site-nav_color{
    color: tomato;
}


.hero_img{
    width: 360px;
    height: 100%;
}
.hero_title{
    font-size: 46px;
    color: brown;
}
.js_actions{
display: flex;
margin: 4px;
width: 84px;

}